<li id="<%= feed_item.id %>">
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<%= render partial: 'shared/micropost_content', locals: { object: feed_item } %>
</li>